/*.theme-light {
    --color-primary: #86c2dd;
    --color-secondary: #f3f3f5;
    --color-tertiary: #e7e7e7;
    --color-accent: #bb026e;
    --font-color: #000000;
  }*/
  html {
    --color-primary: #101a24;
    --color-secondary: #192734;
    --color-tertiary: #22303c;
    --color-accent: #f0627a;
    --font-color: #ffffff;
  }

 body{
      background-color:  #22303c;
      color: var(--font-color);
  }
/* L O G I N */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing:border-box
}
  