doctype html
html
  head
    title Thank_You   

  body
    h1 Thanks for the info!
    h3 The following was logged, we will reach out soon:
    p Age: #{age}
    p Date of Submission: #{date}
    p Assisted By: #{assistedBy}
    hr
    h4 Your ID: #{id}
    hr