 @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

*{
    box-sizing:border-box;
    margin: 0;
    
}

header{
    height: 60px;
    background-color: blueviolet;
    margin-bottom: 20px;
    text-align: center;
     /* text-align: ;  */
 }

.login-wrapper{
    height: 500px;
    display: flex;
    flex-direction: row;
    margin-top: 150px;
    margin-bottom: 10px;
    margin-left: 325px;

} 

 .hr{
   /* background-color: brown: */
   width: 50%;
   height: 500px;
   text-align: center;
   /* border-style: solid; */
   /* padding: 10px; */

}
.user{
    /* background-color: aquamarine; */
    width: 50%;
    height: 500px;
    text-align: center;
   /* border-style: solid; */

}
button{
    width: 300px;
    height: 50px;
    margin-top: 50px;
    /* background-color: ;   */
}
h1{
    margin-top: 100px;

} 
